name: CI

# Controls when the workflow will runname: CI/CD para EC2 pública (FE) e privada (BE)

on:
  push:
    branches:
      - main # O branch que acionará o deploy

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout do código
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      # 2. Configuração do ambiente Node
      - name: FE - Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      # 3. Build da aplicação (Se for uma aplicação que precisa ser construída, ex: React, Angular, Vue)
      - name: FE - Instalar Dependências e Fazer Build
        run: |
             # echo "IP_PORTA_API=http://${{ secrets.REMOTE_HOST_PRIVADO }}:8080" > .env
             npm install
             npm run build --if-present 
             # Se sua app não precisar de build, remova esta etapa
        working-directory: ./frontend

      # 4. Deploy (Transferência de arquivos)
      - name: FE - Copiar arquivos de FE
        uses: easingthemes/ssh-deploy@main
        with:
		  SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/frontend/dist
          # ARGS para rsync: -rltgoDzvO para cópia recursiva, compressão e outros
          ARGS: "-rltgoDzvO --delete" 
          # SOURCE: O que será copiado. Pode ser o diretório de build (ex: ./dist)
          SOURCE: "./frontend/dist/"          
         
        

      # 5. Atualiando o IP privado da API e reininciado o docker do Ngnix
      - name: FE - Executar Comando Shell na EC2
        uses: appleboy/ssh-action@v1.0.3 # Action popular para SSH
        with:
          host: ${{ secrets.REMOTE_HOST }} 
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}  

          # O Comando ou Script a ser Executado no EC2
          # Use o pipe '|' para comandos de múltiplas linhas
          script: |
            set -e

            export IP_PORTA_API=${{ secrets.REMOTE_HOST_PRIVADO }}:8080
            echo "Variável de IP e porta da API criada: $IP_PORTA_API"

            cd /home/${{ secrets.REMOTE_USER }}/frontend
            
            envsubst '${IP_PORTA_API}' < ./docker/default.conf.template > ./docker/default.conf
            echo "Arquivo default.conf do ngnix criado"

            docker stop frontend || true
            docker rm frontend || true
            echo "Container anterior parado e excluído"

            docker build -t nginx-sptech -f ./docker/Dockerfile .
            echo "Imagem docker recriada"

            docker run -d --network host --name frontend nginx-sptech
            echo "Container docker iniciado"
            
      # 6. Configuração do ambiente Java/Maven
      - name: BE - Configurar JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # ou a distribuição que preferir
          java-version: '21'
          cache: 'maven' # Configura cache do Maven para acelerar builds futuros

      # 7. Execução dos testes automatizados do projeto
      - name: BE - Executar Testes automatizados
        run: mvn clean  # comentei os tests por enquanto     
        working-directory: ./backend


      # 8. Geração do .jar
      - name: BE - Gerar Artefato .JAR
        run: mvn package -DskipTests=true # -DskipTests=true pq os testes foram executados no passo anterior
        working-directory: ./backend

      # 9. Deploy (Transferência de arquivos e execução de comandos remotos)
      - name: BE - Copiar arquivo .jar (Usando SSH com rsync)
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/backend/
          # ARGS para rsync: -rltgoDzvO para cópia recursiva, compressão e outros
          ARGS: "-rltgoDzvO --delete" 
          # SOURCE: O que será copiado. Pode ser o diretório de build (ex: ./target)
          SOURCE: "./backend/target/*.jar"        
          
      - name: BE - Copiar arquivo do Docker
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}/backend/docker          
          ARGS: "-rltgoDzvO --delete" 
          SOURCE: "./backend/docker/Dockerfile"                     
             

      # 10. Fazendo o envio do jar da ec2 pública para a privada
      - name: BE - Executar Comando Shell na EC2
        uses: appleboy/ssh-action@v1.0.3 # Action popular para SSH
        with:
          host: ${{ secrets.REMOTE_HOST }} 
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}  

          # O Comando ou Script a ser Executado no EC2
          # Use o pipe '|' para comandos de múltiplas linhas
          script: |
            set -e
            # criando um .pem temporário, baseado no secret do github
            ARQUIVO_PEM="/home/${{ secrets.REMOTE_USER }}/chavetmp.pem"
            echo "Arquivo pem que sera criado: $ARQUIVO_PEM"

            # excluindo o arquivo .pem, caso exista
            rm $ARQUIVO_PEM -f
            echo "Arquivo .pem excluído"
            
            echo "${{ secrets.EC2_SSH_KEY }}" > $ARQUIVO_PEM || true
            echo "Arquivo pem criado"
            chmod 400 $ARQUIVO_PEM || true
            echo "Permissões ao pem concedidas"

            # usuario e ip de destino:
            USUARIO_IP=${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST_PRIVADO }}
            echo "usuario@ip configurado: $USUARIO_IP"

                  
            # enviando o arquivo .jar via scp para o ec2 privado (essa instância precisa ter o diretório ~/backend/)
            echo "Tentando enviar arquivo /home/${{ secrets.REMOTE_USER }}/backend/api.jar"
            scp -o StrictHostKeyChecking=no -i $ARQUIVO_PEM /home/${{ secrets.REMOTE_USER }}/backend/projeto14-0.0.1-SNAPSHOT.jar $USUARIO_IP:/home/${{ secrets.REMOTE_USER }}/backend
            echo "Arquivo jar enviado ao ec2 privado"

            
            # enviando o arquivo Dockerfile via scp para o ec2 privado (essa instância precisa ter o diretório ~/backend/docker)
            echo "Tentando enviar arquivo /home/${{ secrets.REMOTE_USER }}/backend/docker/Dockerfile"
            scp -o StrictHostKeyChecking=no -i $ARQUIVO_PEM /home/${{ secrets.REMOTE_USER }}/backend/docker/Dockerfile $USUARIO_IP:/home/${{ secrets.REMOTE_USER }}/backend/docker/
            echo "Arquivo Dockerfile enviado ao ec2 privado"
            

            # reininciando o servico 'backend' via docker 
            ssh -i $ARQUIVO_PEM $USUARIO_IP 'docker stop backend || true'
            ssh -i $ARQUIVO_PEM $USUARIO_IP 'docker rm backend || true'
            echo "Container anterior parado e excluído"

            ssh -i $ARQUIVO_PEM $USUARIO_IP 'docker build -t api-sptech -f /home/${{ secrets.REMOTE_USER }}/backend/docker/Dockerfile .'
            echo "Imagem docker recriada"

            ssh -i $ARQUIVO_PEM $USUARIO_IP 'docker run -d --network host --name backend api-sptech'
            echo "Container docker iniciado"
